@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  ---text-color:#1e293b;
  ---main-bg:#f2f4f7;
  ---header-cl:#fff;
  ---Hspan:#3cc6d6;
  ---card-surface:#fff;
  ---shadow-cl: #0000000d;
}
/*hearder side*/
header{
  display: flex;
  justify-content: space-between;
  padding:0 20px 0 0 ;
  background-color: var(---header-cl);
  align-items: center;
  position: relative;
  height: 8vh;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
 
}
body{
  background-color: var(---main-bg);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
html{
   background-color: var(---main-bg);
  }

  .logo{
    display: flex;
    align-items: center;
  }

.logo img{
  width: 35px;
}
.logo p{
  background: linear-gradient(90deg, #177de4, #00BFFF, #40E0D0);
  background-clip:text ;
  -webkit-background-clip:text ;
  -webkit-text-fill-color: transparent;
  font-size: 1.45rem;
  font-family: Montserrat;
  font-weight: 650;
}
.uls{
  list-style: none;
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
}

.uls a{
  text-decoration: none;
  color: var(---text-color);
}


.last{
  color: #000;
  border-radius: 2rem;
  font-size: 1.12rem;
  padding: 0.2rem 0.3rem;
  display: grid;
  place-content: center;
  cursor: pointer;
  font-weight: bold;
  border: none;

 
}

.burger{
  display: none;
  cursor: pointer;
}

.burger div{
  width: 21.5px;
  height: 3.3px;
  background:linear-gradient(to bottom, #0035ff,#0035ff,#005684,#10b981);
  margin: 4px;
  transition: transform .12s ease;
}

.burger .line2{
  width: 16px;
  justify-self: flex-end;
}

.animate .line1{
transform: rotate(45deg) translate(5px , 5.5px);
}
.animate .line2{
opacity: 0;
}
.animate .line3{
transform: rotate(-45deg) translate(5px , -6px);
}

main{
   flex: 1;
   z-index: 200;
   
}



/*responsible nav*/
@media (max-width:950px) and (min-width:730px){
.uls{
  width:50%;
}


}

@media (max-width:729.99px){

  .burger{
    display: block;
  }

  .uls{
    position: absolute;
    top: 8vh;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 550px;
    background-color: var(---header-cl);
    justify-content: start;
    transform: translate(-108%);
    border-bottom-right-radius:1rem;
    border-top-right-radius:1rem;
    box-shadow: 0px 2px 1.2px #00000022;
    transition: all .12s ease;
  }

  .last{
    display: grid;
   
  }


  .uls li{ 
    padding: 1.7rem;
    border-bottom: 1px solid #00000024;
  }

  .uls a{
    width: 100%;
  }

  .astray{
    position: relative;
    width: 100%;
    display: grid;
    place-content: center;
    margin: 3.4rem 0;

  }


  .show{
    transform:translate(0%);
  }

  .uls li:hover{
    background-color:#0035ff;
    cursor: pointer;
    color: #fff;
  }
 
 
}




/*hero side*/

.mainHero{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
  font-size: 4rem;
  width: 100%;
}

.heroText abbr{
  text-decoration: none;
  font-size: 4.3rem;
}

.third{
  margin-top: 40px;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #555;
}

@media (max-width:729.99px){
  .mainHero{
    padding: 10px;
    font-size: 1.5rem;
  }

  .heroText abbr{
    font-size: 1.65rem;
  }


  .third{
    font-size: 0.89rem;
    font-weight:300;
    color: #555;
  }

  .mainn{
    line-height: 40px;
  }
}

@media (max-width:729.99px) and (min-width:500px){
  .mainHero{
    padding: 10px;
    font-size: 2.2rem;
  }

  .heroText abbr{
    font-size: 2.4rem;
  }
}

@media (max-width:989px) and (min-width:730px){
  
  .mainHero{
    padding: 10px;
    font-size: 3.2rem;
  }

  .heroText abbr{
    font-size: 3.5rem;
  }
}

.heroText{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}



.heroSpan{
  color: var(---Hspan);
  font-weight: bold;
  -webkit-box-reflect: below 0px;
}



.heroButton{
  background:linear-gradient(to right,var(---Hspan),#9333ea,#4546e5 );
  color: #fff;
  border-radius: 4rem;
  padding:1.2rem 1rem;
  font-size: 1.12rem;
  width: 300px;
  box-shadow: 0px 0px 3px #18181878;
  display: grid;
  place-content: center;
  cursor: pointer;
  font-weight: bold;
  border: none;
  transition: background-color .45s ease;
}



.heroButton:hover{
  background-color: #ff9100;
}

/*Unicards*/
.uni{
  margin-top: 2rem;
  background:linear-gradient(to right, var(---main-bg),var(---header-cl) ,var(---main-bg));
  display: flex;
  justify-content: center;
  align-items: center;
}

.uni-icons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  max-width: 700px;
}

.uni img{
  width: 28px;
  
}

/*whyCont*/

.whyTitle{
  margin: 2rem 0 1rem 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}


.whyCont{
 width: 85%;
 margin: 20px auto;
  display:flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.whyCard{
  background-color: var(---card-surface);
  box-shadow: 0px 0px 4px var(---shadow-cl);
  border-radius: 1.5rem;
  width: 300px;
  height: 220px;
  flex: 0 0 300px;
  padding:2px 1rem;
  cursor: pointer;
  display: grid;
  place-content: center;
  text-align: center;
  grid-template-rows: 2.3fr 1fr;
  transition: all .3s ease ;
}

.whyCard:hover{
  box-shadow: 0px 0px 1px #4545e5d4;
}

.iconCont{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconCont p{
  font-weight: bold;
  font-size: 1.2rem;
}




/*Grade page*/

.gradePage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gradePagehero{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.grade-p-1{
  font-size:2rem;
  color: #000;
  font-weight: 400;

}

.grade-p-2{
  color: #555;
  font-weight: bold;
}

.gradeWrapper{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

}

.gradeCon{
  width: 50%;
  min-width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 /* select,::picker(select){
  appearance: base-select;
}  */

 select{
  width: 230px;
  padding: 8px;
  border-radius: 5px;
  margin: 3px;
  background-color: #fff;
  border: 1px solid var(---card-surface);
  box-shadow: 0 0 2px #00000035;
   color: #555;
}

.subjectName1{
   width: 230px;
  padding: 10.5px;
   color: #555;
}

.coreSub,.elective-sub{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Csubjects-1,.Csubjects-2,.Csubjects-3,.Csubjects-4,.Esubjects-1,.Esubjects-2,.Esubjects-3,.Esubjects-4{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin:2px 10px;
  align-items: center;
}

select:focus{
  outline:1px solid var(---text-color);
}



@media (max-width:989.33px){
  .Csubjects-1,.Csubjects-2,.Csubjects-3,.Csubjects-4,.Esubjects-1,.Esubjects-2,.Esubjects-3,.Esubjects-4{
    margin: 1px 5px;
    align-items: center;
  }
 .grade-p-1{
  font-size: 1.5rem;
  margin-top:0.3rem;
 
 }
 .grade-p-2{
  font-size: 0.9rem;
   margin-bottom: 0.2rem;
 }

 select{
  width: 160px;
  padding: 0.65rem 0.5rem;
 }

 .subjectName1{
    width: 160px;
  padding: 0.8rem 0.6rem;
   color: #555;
 }

 .gradeWrapper{
  flex: 1;
  margin-top: 0.55rem;
  justify-content: center;
 }


}



.find {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 0.78rem;
  
}

.gradeButton1{
  width: 100%;
  max-width: 320px;
  padding: 0.65rem 0.4rem;
  font-size: 1rem;
}
.gradeButton2{
  width: 140px;
  padding: 0.3rem 0.2rem;
  margin-bottom: 0.4rem;
   font-size: 0.8rem;
}



.type-topic{
  font-size: 1rem;
  font-weight: 300;
  font-family:monospace;
 
}


@media (max-width:700px){

  .find{
    margin-top: 0.5rem;
    gap: 1rem;
   
  }
   .gradeButton1{
  padding: 0.89rem 0.65rem;
  font-size: 1rem;
}
.gradeButton2{
  width: 140px;
  padding: 0.65rem 0.25rem;
  font-size: 0.85rem;
}

.type-topic{
  font-size: 1.1rem;
  margin: 3px 1px;
}
}

.prompt{
  width: 100%;
 margin-top: .2rem;
 text-align: center;
 color: red;
 height: 0.95rem;
 font-size: .8rem;
 font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.gradePage{
  display: none;
}
.landingPage{
  display: none;
}



.getsch{
  background-color: #fff;
  border-radius: 13px;
  box-shadow: 0 2px 2px #0000003a;
  padding: 5px 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3px auto;
}


.getsch-title{
  text-align: left;
  font-size: 17.5px;
  width: auto;
}

.getsch-select{
  justify-items: center;
  width: 40%;
  padding: 0 10px;
}

#getsch-select-value{
 width: 100%;
 padding: 5px;
 font-size: 12px;
}

.getsch-icon img{
  width: clamp(0.9rem, 1vw + 0.66rem, 2rem);
}


@media (max-width:700px){
  .getsch{
    width: 95%;
    margin: 0 10px;
  }
}







footer{
  width: 100%;
  background-color: #e6ecf5;
  height: 4.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

